*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,p,a{
    font-family: 'Poppins', sans-serif;
}
.btn{
   
    padding: 15px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.contact-me{
    width: 170px;
    height: 70px;
    border: 1.33px solid #5E3BEE;
    background-color: #fff;
    font-size: 21.33;
    color: #5E3BEE;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: -4px 14px 14px 4px rgba(0,0,0,0.1);
    padding: 1rem 4rem;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    
}

.menu ul li{
    list-style: none;
    margin: 0 .8rem;
    font-size: 21.33px;
}
.home-page{
    display: flex;
    justify-content: space-between;
    background-color: #EEF4FA;
}
.profile-picture{
    width: 999px;
    padding-top: 7rem;

}
.text-1{
    font-size: 36px;
}
.bold{
    font-weight: bold;
}
.font-46{
    font-size: 46px;
}
.hero-text{
    padding-top: 8rem;
    padding-left: 4rem;
}
.base{
    color: #5E3BEE,
}
.menu-button{
    display: none;
}
/*=================               My Skills Section             ====================*/
.skills-section{
    padding: 4rem;
}
.container{
    box-shadow: 11px 15px 10px -4px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 12px;
}
.card{
    width: 220px;
} 
.card h2{
    margin: 2rem 0;
}

.cards-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.feather{
    padding: 2rem;
    background-color: #fff;

}
.about-wrapper{
    display: flex;
}
.about-image-wrapper{
    width:100%;
}
.about-text-wrapper{
    padding: 4rem;
    width: 50%;
}
.about-text-wrapper h1{
    margin: 2rem 0;
}

/* ================================================ Portfolio Section ========================================*/
.portfolio-section{
    padding: 4rem;
}
.manchester-uni{
   padding: 2rem;
    width: 410px;
    box-shadow: 11px 15px 10px -4px rgba(0,0,0,0.1);
    border-radius: 12px;
}
.manchester-uni img{
    width: 400px;
}
.manchester-uni h1{
    margin: 2rem 0;
}

/* =============================================      Testimonials ========================*/
.customer-testimonials{
    margin: 2rem 0;
    padding: 4rem;
    background-color: #EEF4FA;
}
.customer-testimonials h1{
    margin: 2rem 0;
}
.test-wrap{
    display: flex;
    justify-content: space-between;
}
.testimonial-1{
    width: 35%;
    border: 1px solid #006B6A;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem 0;
}
.testimonial-1 p{
    font-size: 21.333px;
    margin: 2rem 0;
}
.avatar{
    display: flex;
}
.avatar img{
    width: 74px;
    margin-right: 1rem;
}
.avatar h2{
    margin-bottom: .4rem;
}

/* ======================================        Blogs Section               =====================*/
.blog-section{
    padding: 4rem;
}
.blogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2;
}
.blog{
    width: 340px;
    padding: 2rem;
    box-shadow: 11px 15px 10px -4px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.blog img{
    width: 340px;
}
.blog h1{
    margin: 2rem 0;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}
.blog p{
    font-size: 21px;
}
.blog a{
    text-decoration: none;
}

/*=====================              Single Blog Page                ================*/
.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 2rem;
}
.article img{
    width: 600px;
}
.see-all-btn{
    text-decoration: underline;
    font-size: 30px;
}
.see-all{
    margin: 2rem 0;
}
.span-2{
    grid-row: span 2;
}
.font-24{
    font-size: 24px;
}
@media only screen and (max-width: 620px) {
    .menu-button{
        display: block;
    }
    .menu{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .home-page{
        flex-direction: column;
    }
    .nav-wrapper{
        padding: .5rem 2rem;
    }
    .container{
        width: 80%;
    }
    .profile-picture{
        width: 500px;
    } 
    .hero-text{
        padding-left: 2rem;
    }
    .about-wrapper{
        flex-direction: column;
    }
    .about-text-wrapper{
        width: 100%;
    }
    .portfolio-section{
        padding: 1rem;
    }
    .manchester-uni img{
        width: 260px;
    }
    .test-wrap{
        flex-direction: column;
    }
    .testimonial-1{
        width: 80%;
    }
    .about-text-wrapper{
        width: 340px;
        padding: 2rem;
    }
    .blogs{
        flex-direction: column;
        width: 100%;
    }
    .blog{
        width: 90%;
        margin: 4rem auto;
    }
    .blog img{
        width: 100%;
    }
    .blog-section{
        padding: 2rem;
    }
  }

  @media only screen and (max-width: 900px){
    .menu{
        display: none;
        
    }
    .font-46{
        font-size: 24px;
    }
    .about-wrapper{
        flex-direction: column;
    }
    .about-text-wrapper{
        width: 400px;
    }
  }