*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,p,a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
label{
    font-family: 'Roboto', sans-serif;
}
.btn{
   
    padding: 15px 30px;
    border-radius: 6px;
    cursor: pointer;
}
.hidden-menu{
    position: absolute;
    background-color: #fff;
    width: 80%;
    
    margin-top: 13rem;
    padding: .2rem;
    border: none;
    border-radius: 8px;
    border: 2px solid #f4f4f4;

}
.hidden-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
    list-style: none;
    padding: 1rem;
}
.hidden-menu ul li a{
    color: #5E3BEE;
}
.hide{
    display: none;
}
.contact-me{
    border: 1.33px solid #5E3BEE;
    background-color: #fff;
    font-size: 21.33;
    color: #5E3BEE;
}
.header{
    position: fixed;
    width: 100%;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: -4px 14px 14px 4px rgba(0,0,0,0.1);
    padding: 1rem 4.74rem;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    
}

.menu ul li{
    list-style: none;
    margin: 0 .8rem;
    font-size: 21.33px;
}
.menu ul li a{
    color: var(--Primary, #5E3BEE);
    font-family: 'Roboto', sans-serif;
font-size: 21.333px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 32px */
}
.home-page{
    padding-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #EEF4FA;
}
.profile-picture{
    width: 50%;
    padding-top: 7rem;

}
.text-1{
    color: var(--Heading-color, #282938);
text-align: left;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 54px */
}
.c-text{
    color: var(--Heading-color, #282938);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 150%;
}
.bold{
    font-weight: bold;
}
.font-46{
    font-size: 46px;
}
.hero-text{
    width: 50%;
    padding-top: 8rem;
    padding-left: 4.74rem;
}
.hero-text h1{
    color: #282938;
    font-family: 'Roboto', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 89.6px */
}
.get-in-touch-btn{
    border-radius: 5.333px;
background: var(--Primary, #5E3BEE);
color: #fff;
display: flex;
width: 170.667px;
padding: 18.667px 42.667px;
justify-content: center;
align-items: center;
gap: 10.667px;
margin: 2rem 0;
border: none;
}
.base{
    color: #5E3BEE,
}
.purple{
    color: #503AE7;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}
.menu-button{
    display: none;
}
.menu-button button{
    background-color: #fff;
    font-weight: 800;
    z-index: 9;
    border: none;
}
/*=================               My Skills Section             ====================*/
.skills-section h1{
    padding-left: 4.77rem;
    color: var(--Heading-color, #282938);
font-family: poppins;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 76.8px */
margin: 5.92rem 0;
}
.skill-card{
    display: flex;
/* height: 492px; */
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
/* flex: 1 0 0; */
border-radius: 10.667px;
background: var(--BG-Shade, #F5FCFF);
}
.border-bottom{
    border-bottom: 4px solid var(--Primary, #5E3BEE);
}
.skill-card h1{
    color: var(--Body, #1C1E53);
    font-family: 'Roboto', sans-serif;
font-size: 21.333px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 32px */
}
.container{
    box-shadow: 11px 15px 10px -4px rgba(0,0,0,0.1);
    padding: 1.7777rem;
    border-radius: 12px;
}
/* .card{
    width: 22%;
}  */
.card h2{
    margin: 2rem 0;
}

.cards-wrapper{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23.33%;
    gap: 2.37rem;
    overflow-x: scroll;
}
.feather{
    padding: 2rem;
    background-color: #fff;

}
.about-wrapper{
    display: flex;
    margin: 1rem 0;
}
.about-image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
}
.about-image-wrapper img{

    width:80%;
}
.about-text-wrapper{
    padding: 4rem 7rem 4rem 4rem;
    width: 50%;
}
.about-text-wrapper h1{
    color: var(--Heading-color, #282938);
    font-family: 'Roboto', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 76.8px */
margin: 1.5rem 0;
}
.about-text-wrapper p{
    color: var(--Body, #1C1E53);
    font-family: 'Roboto', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
}

/* ================================================ Portfolio Section ========================================*/
.portfolio-section{
    padding: 4.7777rem 0;
    width: 80%;
}
.portfolio-section h1{
    color: var(--Heading-color, #282938);
font-family: 'Roboto', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 76.8px */
}
.manchester-uni{
   padding: 2rem;
    /* width: 70%; */
    box-shadow: 11px 15px 10px -4px rgba(0,0,0,0.1);
    border-radius: 12px;
}
.manchester-uni img{
    width: 90%;
}
.manchester-uni h1{
    margin: 2rem 0;
    color: var(--Heading-color, #282938);
font-family: 'Roboto', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 44.8px */
}
.projects{
   display: flex;
   /* flex-basis: auto; */
   gap: 2rem;
}
/* =============================================      Testimonials ========================*/
.customer-testimonials{
    margin: 2rem 0;
    padding: 4.7777rem;
    background-color: #EEF4FA;
}
.customer-testimonials h1{
    margin: 2rem 0;
        color: var(--Heading-color, #282938);
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
}
.test-wrap{
    display: flex;
    justify-content: space-between;
}
.testimonial-1{
    width: 35%;
    border: 1px solid #006B6A;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem 0;
}
.testimonial-1 p{
    font-size: 21.333px;
    margin: 2rem 0;
}
.avatar{
    display: flex;
}
.avatar img{
    width: 74px;
    margin-right: 1rem;
}
.avatar h2{
    margin-bottom: .4rem;
}

/* ======================================        Blogs Section               =====================*/
.blog-section{
    width: 100%;
    padding: 4.777rem;
}
.blog-section h1{
    margin: 2rem 0;
    color: var(--Heading-color, #282938);
font-family: 'Roboto', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 76.8px */
}
.blogs{
    width: 80%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 33%;
        overflow-x: auto;
        padding: 1rem;
        gap: 2rem;
}
.blog{
    width: 80%;
    padding: 2rem 2rem 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 9.4px 0px rgba(0, 0, 0, 0.25);
}
.blog img{
    width: 90%;
}
.blog h1{
    margin: 2rem 0;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
.blog p{
    font-size: 21px;
}
.blog a{
    text-decoration: none;
}
.blog a .buttons{
    padding-top: .5rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.blog a .buttons .bottom{
    display: flex;
    gap: 2px;
    margin: .5rem 0;
}

/*=====================              Single Blog Page                ================*/
.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 2rem;
}
.article img{
    width: 600px;
}
.see-all-btn{
    text-decoration: underline;
    font-size: 30px;
}
.see-all{
    margin: 2rem 0;
}
.span-2{
    grid-row: span 2;
}
.font-24{
    font-size: 24px;
}


/*=====================              Contact Me Section                ================*/
.contact-me-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me-section h1{
    font-size: 36px;
    margin: 2rem 0;
}
.contact-me-section h2{
    font-size: 24px;
    margin: 0 0 2rem 0;
}
.contact-wrapper{
    width: 80%;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 21.33px;
    width: 100%;
}
.col-span-2{
    grid-column: span 2;
}
.input{
    width: 100%;
    height: 64px;
    border-radius: 8px;
border: 1.333px solid var(--Primary, #5E3BEE);
background: #FFF;
    margin: .5rem 0;
}
.text-area{
    width: 100%;
    border-radius: 10px;
    margin: .5rem 0;
    
}
.text-area::placeholder{
    padding: 1rem;
    font-size: 14px;
}
.select{
    width: 100%;
    height: 24px;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.submit-btn{
    border-radius: 8px;
    background-color: #5E3BEE;
    color: #fff;
    margin: 2rem auto;
    padding: 1rem 2rem;
    width: 20%;
    border: none;
}

/*-------------------------------------------       Footer ------------------------------*/
footer{
    padding: 2rem 0;
    width: 100%;
height: 295px;
background: #F5FCFF;
}
footer .top-part{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4.777rem;
    border-bottom: 1px solid black;
}
footer .bottom-part{
    display: flex;
    padding: 1rem 4.777rem;
    justify-content: space-between;
}

@media only screen and (max-width: 620px) {
    .menu-button{
        display: block;
    }
    .menu{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .home-page{
        flex-direction: column;
        width: 100%;
    }
    .text-1{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    }
    .hero-text h1{
        font-size: 22px;
        text-align: center;
    }
    .get-in-touch-btn{
        border-radius: 2.25px;
    padding: 9.33px 21.65px;
    gap: 5.36px;
    margin: 2rem auto;
    border: none;
    }
    .purple{
        font-size: 32px;
    }
    .nav-wrapper{
        padding: .5rem 2rem;
    }
    .container{
        width: 80%;
    }
    /* .profile-picture{
        width: 80%;
    }  */
    .hero-text{
        padding-left: 1rem;
    }
    .about-text-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1rem;
        width: 100%;
        align-self: center;
    }
    .about-image-wrapper{
        display: none;
    }
    .portfolio-section{
        padding: 1rem;
        width: 80%;
        display: none;
    }
    .portfolio-section h1{
        font-size: 24px;
    }
    .projects{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .manchester-uni img{
        width: 80%;
    }
    .test-wrap{
        flex-direction: column;
        
        width: 100%;
    }
    .customer-testimonials{
        margin: 1rem 0;
        padding: 2rem;
    }
    .testimonial-1{
        width: 80%;
    }
    .testimonial-1 p{
        font-size: 16px;
    }
    .customer-testimonials h1{
        font-size: 16px;
    }
    .about-text-wrapper{
        width: 340px;
        padding: 2rem;
    }
    .about-text-wrapper h1{
    font-size: 22px;
    }
    .about-text-wrapper p{
        font-size: 16px;
    }
    .blogs{
      width: 85%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.5555rem;
    }
    .blog{
        width: 80%;
        margin: 0 4rem;
    }
    .skills-section{
        padding: 1rem;
    }
    .skill-card{
        width: 80%;
    }
    .cards-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }
    .blog-section{
        width: 100%;
     
    }
    .blog-section .buttons{
        font-size: 12px;
    }
    .blog-section h1{
        font-size: 22px;
        margin: 0 0 0 1rem;
    }
    .blog-section h2{
        font-size: 16px;
    }
    .contact-form{
       display: flex;
       gap: 1rem;
       flex-direction: column;
       width: 100%;
    }
    .contact-me-section h2{
        font-size: 16px;
        margin: 0 0 2rem 1rem;
    }
    .see-all .see-all-btn{
        font-size: 16px;
    }
    .skills-section h1{
        font-size: 22px;
    }
   

    .contact-wrapper{
        width: 80%;
    }
    .input{
        
        height: 32px;
        margin: .2rem 0;
    }

    .top-part .menu{
        display: none;
    }
    .bottom-part .menu{
        display: none;
    }
    .hide-on-phone{
        display: none;
    }
    .submit-btn{
        margin: 2rem auto;
        padding: .8rem 1rem;
        width: 40%;
        border: none;
    }
  }

  @media only screen and (max-width: 900px){
    .menu{
        display: none;
        
    }
    .home-page{
        flex-direction: column;
        width: 100%;
    }
    .hero-text{
        width: 90%;
    }
    .profile-picture{
        width: 100%;
    }
    .font-46{
        font-size: 24px;
    }
    .about-wrapper{
        flex-direction: column;
    }
    .about-text-wrapper{
        width: 80%;
    }
    .contact-me-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-wrapper{
        grid-auto-flow: column;
        grid-auto-columns: 50%;
       }
       .contact-wrapper{
        width: 80%;
       }
       .blog{
        width: 80%;
        margin-left: 1.5rem;
        
    }
    .blogs{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
        overflow-x: auto;
        padding: 1rem;
        gap: 1rem;
    }
    .projects{
        width: 100%;
       display: flex;
       flex-direction: column;
       padding: 2rem;
    }
    .blog h1{
        font-size: 16px;
    }
    .blog-section{
        width: 100%;
        padding: 1rem 0;
    }
    .input{
        
        height: 32px;
        margin: .2rem 0;
    }
  }

  @media only screen and (min-width: 620px){
        .hidden-menu{
            display: none;
        }
  }